#display {
  border: 2.4px solid black;
  border-radius: 0.5rem;
  background-color: honeydew;
  color: rgb(59, 59, 59, 0.65);
  padding: 1rem;
  margin: 2rem 2rem 1rem 2rem;
  font-size: 2rem;
  font-family: "Saira Condensed", sans-serif;
  text-align: center;
  transform-style: preserve-3d;
  width: 10rem;
  box-shadow: inset 2px 2px rgba(97, 0, 187, 0.256);

  -webkit-transition: background-color 15s;
  transition: background-color 15s;
}

#display:hover {
  background-color: rgba(170, 212, 157, 0.739);
}
