.drum-pad {
  border: 0.5mm ridge rgba(113, 36, 146, 0.6);
  width: 5rem;
  height: 5rem;
  border-radius: 0.69rem;
  background: hsl(204, 6%, 33%);
  color: rgb(240, 255, 240);
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(97, 0, 187, 0.256);
  backface-visibility: visible;
  transform-style: preserve-3d;
  -webkit-transition: background 15s;
  transition: background 15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pad:hover {
  background: hsla(204, 10%, 62%, 0.815);
}

.drum-pad * {
}
